<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.kantidroid"
    android:versionCode="43"
    android:versionName="2.11" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.holoeverywhere.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/kantidroid_ico"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Light" >
        <receiver android:name=".WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Dropbox -->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-03ktxe8m7s1i0b6" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />

        <!-- App -->
        <activity
            android:name="com.martin.kantidroid.MainActivity"
            android:icon="@drawable/kantidroid_ico"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kantidroid.Backup"
            android:icon="@drawable/kantidroid_ico"
            android:label="Backup" >
            <intent-filter>
                <action android:name="com.martin.kantidroid.BACKUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kantidroid.MOTD"
            android:icon="@drawable/kantidroid_ico"
            android:label="MOTD" >
            <intent-filter>
                <action android:name="com.martin.kantidroid.MOTD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kantidroid.About"
            android:icon="@drawable/kantidroid_ico"
            android:label="Über" >
            <intent-filter>
                <action android:name="com.martin.kantidroid.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kantidroid.Licenses"
            android:icon="@drawable/kantidroid_ico"
            android:label="Open Source Lizenzen" >
            <intent-filter>
                <action android:name="com.martin.kantidroid.LICENSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kantidroid.Food"
            android:icon="@drawable/kantidroid_ico"
            android:label="Menuplan" >
            <intent-filter>
                <action android:name="com.martin.kantidroid.FOOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Kontingent -->

        <activity
            android:name="com.martin.kontingent.Overview"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Kontingent" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.OVERVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kontingent.CreateEntry"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Fach hinzufügen" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.CREATE_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kontingent.ViewFach"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Info" >
        </activity>
        <activity
            android:name="com.martin.kontingent.RemoveEntry"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Fach zum entfernen auswählen" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.REMOVE_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kontingent.RemoveUsage"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Gebrauch zum entfernen auswählen" >
        </activity>
        <activity
            android:name="com.martin.kontingent.EditEntry"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Fach bearbeiten" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.EDIT_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kontingent.SelectEdit"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Fach zum Bearbeiten auswählen" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.EDIT_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kontingent.AddSelect"
            android:configChanges="orientation"
            android:icon="@drawable/kontingent_ico"
            android:label="Fach auswählen" >
            <intent-filter>
                <action android:name="com.example.kontingentprototype.ADD_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Noten -->

        <activity
            android:name="com.martin.noten.Main"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Noten" >
            <intent-filter>
                <action android:name="com.martin.noten.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.CreateEntry"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Fach hinzufügen" >
            <intent-filter>
                <action android:name="com.martin.noten.CREATE_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.ViewFach"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Info" >
            <intent-filter>
                <action android:name="com.martin.noten.VIEW_FACH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.AddMark"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Note hinzufügen" >
            <intent-filter>
                <action android:name="com.martin.noten.ADD_MARK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.RemoveEntry"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Fach entfernen" >
            <intent-filter>
                <action android:name="com.martin.noten.REMOVE_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.RemoveMark"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Note entfernen" >
            <intent-filter>
                <action android:name="com.martin.noten.REMOVE_MARK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.EditSelect"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Fach zum Bearbeiten auswählen" >
            <intent-filter>
                <action android:name="com.martin.noten.EDIT_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.EditEntry"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Fach bearbeiten" >
            <intent-filter>
                <action android:name="com.martin.noten.EDIT_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.Guessing"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Notenvorhersage" >
            <intent-filter>
                <action android:name="com.martin.noten.GUESSING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.noten.AddSelect"
            android:configChanges="orientation"
            android:icon="@drawable/noten_ico"
            android:label="Fach auswählen" >
            <intent-filter>
                <action android:name="com.martin.noten.ADD_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- KISS -->

        <service
            android:name="com.martin.kiss.Background"
            android:exported="false" >
        </service>

        <activity
            android:name="com.martin.kiss.MainActivity"
            android:configChanges="orientation"
            android:icon="@drawable/kiss_ico"
            android:label="KISS" >
            <intent-filter>
                <action android:name="com.martin.kiss.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kiss.Add_Lehrer"
            android:configChanges="orientation"
            android:icon="@drawable/kiss_ico"
            android:label="Person hinzufügen" >
            <intent-filter>
                <action android:name="com.martin.KISS.ADD_LEHRER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kiss.Remove_Lehrer"
            android:configChanges="orientation"
            android:icon="@drawable/kiss_ico"
            android:label="Person entfernen" >
            <intent-filter>
                <action android:name="com.martin.KISS.REMOVE_LEHRER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kiss.EditLehrer"
            android:configChanges="orientation"
            android:icon="@drawable/kiss_ico"
            android:label="Person bearbeiten" >
            <intent-filter>
                <action android:name="com.martin.KISS.EDIT_LEHRER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kiss.KissView"
            android:configChanges="orientation"
            android:icon="@drawable/kiss_ico"
            android:label="KISS" >
            <intent-filter>
                <action android:name="com.martin.KISS.KISS_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.martin.kiss.InfoscreenChoice"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:icon="@drawable/kiss_ico"
            android:label="KISS anzeigen"
            android:theme="@style/Holo.Theme.Dialog.Light" >
            <intent-filter>
                <action android:name="com.martin.KISS.INFOSCREEN_CHOICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>