<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.kantidroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="@string/app_key_db" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.subjects.ColorPickerDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ui.subjects.EditDialog"
            android:label="@string/subject_edit"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Base">

            <!-- TODO: Check if back button appears on pre v16 // remove parent meta -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martin.kantidroid.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.fachview.DetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martin.kantidroid.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.fachview.FachviewActivity"
            android:label="@string/title_activity_fachview"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martin.kantidroid.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.fachview.EditMarkDialog"
            android:label="@string/title_activity_edit_mark_dialog"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".ui.fachview.EditKontDialog"
            android:label="@string/title_activity_edit_kont_dialog"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".ui.fachview.CalcActivity"
            android:label="@string/title_activity_calc"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".ui.timetable.TimetableActivity"
            android:label="@string/title_activity_timetable"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martin.kantidroid.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>
